#about {
    display: grid;
    place-items: center;
    place-content: start;

    .lg-heading {
        grid-row: 1;
        grid-column: 1/12;
        font-size: 2rem;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .sm-heading {
        grid-row: 2;
        grid-column: 1/12;
        font-size: 1rem;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    p {
        grid-row: 3;
        grid-column: 3/10;
        padding: 0;
        margin: 0;
        text-align: center; 
        &.version {      
            color: lighten($primary-color, 4); 
        }
    }
}