#footer {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    font-weight: 590;
    line-height: 0.9rem;
    text-align: center;
    width: 100vw;
    background: rgb(1, 32, 46);
    color: #fff;

    p {
        padding: 1.5rem;
        margin: 0;
    }
}

@include mediaXl {
    #footer {
        margin: 0;
        padding: 0;
        font-size: 0.9rem;
        font-weight: 590;
        line-height: 0.2rem;
        text-align: center;
        width: 100vw;
        background: rgb(1, 32, 46);
        color: #fff;
    
        p {
            padding: 3.5rem;
            margin: 0;
        }
    }
}